body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.left-panel {
  float: left;
  width: 23%;
}
.right-panel {
  width: 74%;
  margin-left: 26%;
}
.filter-widgets {
  margin-bottom: 24px;
  font-size: 14px;
  color: #000;
}
.ais-SearchBox {
  margin: 1em 0;
}
.ais-Highlight-highlighted {
  background-color: yellow;
  color: black;
  font-style: italic;
}
.ais-Pagination {
  margin-top: 1em;
}
